body {
  width: 300px;
  font-family: sans-serif;
  padding: 10px;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.tweet {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user {
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  margin: 0;
}